<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>登入｜癌症資料登記</title>
  <link rel="stylesheet" href="/static/vendor/noto-sans-tc/noto-sans-tc.css">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/static/vendor/bootstrap-icons/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/css/core/style.css">
  <link rel="stylesheet" href="/static/css/auth/login.css">
</head>

<body>
  <div class="login-wrapper">
    <div class="login-card">
      <div class="login-header">
        <img src="/static/NTUH.png" alt="NTUH Logo" class="login-img-logo">
        <h1 class="login-title">癌症登記資料平台</h1>
        <p class="login-subtitle">請輸入您的員工帳號與密碼以登入系統</p>
      </div>

      <script src="/static/vendor/sweetalert2/sweetalert2.all.min.js"></script>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <script id="loginFlashMessagesData" type="application/json">{{ messages | tojson }}</script>
        {% endif %}
      {% endwith %}

      {% if error %}
        <script id="loginErrorData" type="application/json">{{ error | tojson }}</script>
      {% endif %}

      <form method="POST">
        
        <div class="form-field">
          <label>User ID</label>
          <div class="input-with-icon">
            <i class="bi bi-person text-muted"></i>
            <input type="text" name="userid" class="form-control" placeholder="請輸入員工編號" required>
          </div>
        </div>

        <div class="form-field">
          <label>Password</label>
          <div class="input-with-icon">
            <i class="bi bi-lock text-muted"></i>
            <input type="password" name="password" class="form-control" placeholder="請輸入密碼" required>
          </div>
        </div>

        <button type="submit" class="btn btn-dark btn-block login-btn">登入系統</button>
      </form>

      <div class="login-footer">
        &copy; 2026 NFU. All rights reserved.
      </div>

    </div>
  </div>

  <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
</body>
</html>